<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{seller/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Add to Inventory</title>
</head>
<body>
<th:block layout:fragment="breadcrumb-lis">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add to Inventory</li>
</th:block>
<th:block layout:fragment="heading">New Product</th:block>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <p class="w-100 col-12 h3 text-center">Use this only to add <strond>New Products</strond>. To sell existing products, <a
                    href="#"> click here </a></p>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-xlg-7">
                <div class="card">
                    <div class="card-body">
                        <form th:action="@{/seller/inventory/add}" th:method="POST" th:object="${product}"
                              class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Product Name</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control pl-0 form-control-line" th:placeholder="'Write product name here.'" th:field="*{product_name}">
                                    <small th:if="${#fields.hasErrors('product_name')}" th:errors="*{product_name}"
                                           class="text-danger small"></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Product Description</label>
                                <div class="col-md-12">
                                    <textarea rows="4" class="form-control pl-0 form-control-line" th:field="*{product_description}" th:placeholder="'Write product description here'"></textarea>
                                    <small th:if="${#fields.hasErrors('product_description')}" th:errors="*{product_description}"
                                           class="text-danger small"></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Price</label>
                                <div class="col-md-12">
                                    <input type="number" step="0.01" th:min="0" class="form-control pl-0 form-control-line" th:field="*{price}">
                                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                           class="text-danger small"></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Discount</label>
                                <div class="col-md-12">
                                    <input type="number" step="0.01" min="0" max="100" class="form-control pl-0 form-control-line" th:field="*{discount}">
                                    <small th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"
                                           class="text-danger small"></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Quantity</label>
                                <div class="col-md-12">
                                    <input type="number" min="0" class="form-control pl-0 form-control-line" th:field="*{quantity}">
                                    <small th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
                                           class="text-danger small"></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select Categories</label>
                                <div class="col-sm-12">
                                    <select th:field="*{categories}" th:multiple="true" class="form-control pl-0 form-control-line">
                                        <option th:each="cat : ${categories}" th:value="${cat}">[[${cat}]]</option>
                                    </select>
                                    <small th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"
                                           class="text-danger small"></small>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 d-flex">
                                    <button class="btn btn-success mx-auto mx-md-0 text-white">Add to Inventory</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>