<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{seller/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
<th:block layout:fragment="breadcrumb-lis">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Inventory</li>
</th:block>
<th:block layout:fragment="heading">Inventory</th:block>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<th:block layout:fragment="content">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Product Inventory</h4>
                        <!--                    <h6 class="card-subtitle"><code>.table</code></h6>-->
                        <div th:if="${!items.empty}" class="table-responsive">
                            <table class="table user-table no-wrap">
                                <thead>
                                <tr>
                                    <th class="border-top-0">PID</th>
                                    <th class="border-top-0">Product Name</th>
                                    <th class="border-top-0">Description</th>
                                    <th class="border-top-0">Discount</th>
                                    <th class="border-top-0">Price</th>
                                    <th class="border-top-0">Quantity</th>
                                    <th class="border-top-0">Demand</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${items}">
                                    <td th:text="${item.product_id}">1</td>
                                    <td th:text="${item.product_name}">Name</td>
                                    <td th:text="${item.product_description.length()>50?item.product_description.substring(0,50):item.product_description}"
                                        th:title="${item.product_description}">Description
                                    </td>
                                    <td th:text="${item.discount}">0</td>
                                    <td th:text="${item.price}">0</td>
                                    <td th:text="${item.quantity}">0</td>
                                    <td th:text="${item.demand}">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${items.empty}">
                            <p class="h3 text-secondary text-center">No products yet in your inventory</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
</th:block>
<!-- ============================================================== -->
<!-- End Container fluid  -->

</body>
</html>