<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--suppress CheckTagEmptyBody -->
    <th:block th:insert="fragments/header :: head"></th:block>
    <title>Login</title>
</head>
<body>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: preload"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: menu"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: header"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: hero-content"></th:block>

<!----------------------------------------------------- Content Begins ------------------------------------------------>



<!----------------------------------------------------- Content Ends ------------------------------------------------>

<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/footer :: footer"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/footer :: scripts"></th:block>

</body>
</html>