<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--suppress CheckTagEmptyBody -->
    <th:block th:insert="fragments/header :: head"></th:block>
    <title>Login</title>
</head>
<body>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: preload"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: menu"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: header"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: hero-content"></th:block>
<th:block th:insert="fragments/header :: flash-messages"> </th:block>

<!---------------------------- Tabs start ------------------------------------->
<div class="container-fluid col-md-7 col-lg-5 offset-md-2 offset-lg-5 centered text-center">
    <div class="checkout__form col-md-10 col-lg-8 offset-md-1 offset-lg-2 shadow border-light centered my-4 p-0">
        <ul class="nav nav-tabs d-flex mb-1" id="myTab" role="tablist">
            <li class="nav-item w-50 bg-light">
                <a class="nav-link active text-green" data-toggle="tab" href="#login" role="tab"
                   aria-controls="login">Login</a>
            </li>
            <li class="nav-item w-50 bg-light">
                <a class="nav-link text-green" data-toggle="tab" href="#register" role="tab"
                   aria-controls="register">Register</a>
            </li>
        </ul>


        <div class="tab-content">
            <!------------------------------- Login Form ------------------------------>
            <div id="login" class="tab-pane active">
                <h4 class="bg-theme p-2 text-white form-header border-0 w-100">Login</h4>
                <div class="px-4 py-3">
                    <form th:action="@{/login}" th:method="post">
                        <div class="form-group">
                            <label for="username" class="sr-only">Email</label>
                            <input type="text" placeholder="Enter your username"
                                   class="login_input form-control mb-0 p-4" name="username" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" placeholder="Enter your password"
                                   class="login_input form-control mb-0 p-4" name="password" id="password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox"
                                   class="form-check-input mb-0 p-4"
                                   name="password" id="remember-me">
                            <label for="remember-me" class="form-check-label">
                                 Remember me
                            </label>
                        </div>
                        <input type="submit" value="Log In"
                               class="btn bg-theme text-light font-weight-normal w-100 h-50">
                        <small th:if="${param.error?:false}" class="text-danger small" th:text="'Login Failed!'">
                            username already exists</small>
                    </form>
                </div>
            </div>
            <!------------------------------- Login Form ------------------------------>

            <!--------------------------------Register Form  ---------------------------->
            <div id="register" class="tab-pane">
                <h4 class="bg-theme p-2 text-white form-header border-0 w-100">Register</h4>
                <div class="px-4 py-3">
                    <form th:action="@{/register}" th:method="post" th:object="${user}">
                        <div class="form-group">
                            <label for="username-reg" class="sr-only">Username</label>
                            <input type="text" placeholder="Enter a username" th:field="*{username}"
                                   class="login_input form-control mb-0 p-4" name="username" id="username-reg">
                            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                   class="text-danger small"> username already exists</small>
                        </div>
                        <div class="form-group">
                            <label for="password-reg" class="sr-only">Password</label>
                            <input type="password" placeholder="Enter your password" th:field="*{password}"
                                   class="login_input form-control mb-0 p-4" id="password-reg">
                            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                   class="text-danger small"> password cannot be blank</small>
                        </div>
                        <div class="form-group">
                            <label for="email-reg" class="sr-only">Email</label>
                            <input type="email" placeholder="Enter a valid email" th:field="*{email}"
                                   class="login_input form-control mb-0 p-4" name="email" id="email-reg">
                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger small">
                                email cannot be blank</small>
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="sr-only">Password</label>
                            <input type="text" placeholder="Enter your mobile no." th:field="*{mobile}"
                                   class="login_input form-control mb-0 p-4" name="mobile" id="mobile">
                            <small th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"
                                   class="text-danger small"> mobile cannot be blank</small>
                        </div>
                        <input type="submit" value="Register as a user"
                               class="btn bg-theme text-light font-weight-normal w-100 h-50">
                    </form>
                </div>
            </div>
            <!--------------------------------Register Form  ---------------------------->
        </div>
    </div>
</div>
<!---------------------------- Tabs End ------------------------------------->

<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/footer :: footer"></th:block>

<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/footer :: scripts"></th:block>

<script type="text/javascript">
    $(document).ready(
        function () {
            const registerFlag = [(${#fields.hasErrors('${user.*}')})];
            if (registerFlag == true)
                $('.nav-tabs a[href="#register"]').tab('show');
        }
    )
</script>

</body>
</html>