<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--suppress CheckTagEmptyBody -->
    <th:block th:insert="fragments/header :: head"></th:block>
    <title>Login</title>
</head>
<body>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: preload"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: menu"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: header"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/header :: hero-content"></th:block>

<!----------------------------------------------------- Content Begins ------------------------------------------------>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>[[${product.name}]]</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <a href="/products">Products</a>
                        <span th:text="${product.name}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             th:src="${images[0]}" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <th:block th:each="image : ${images}">
                            <img th:data-imgbigurl="|${image}|"
                                       th:src="|${image}|" alt="image">
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>[[${product.name}]] <a href="#" class="heart-icon float-right"><span
                            class="icon_heart_alt"></span></a></h3>
                    <div class="col-12">
                        <table th:if="${!sellers.isEmpty()}" class="table-responsive table-striped text-center">
                            <thead>
                            <tr>
                                <th>Seller</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>qty</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="seller:${sellers}">
                                <td class="p-2">[[${seller.seller_name}]]</td>
                                <td class="p-2">[[${seller.price}]]</td>
                                <td class="p-2">[[${seller.discount}]]</td>
                                <td class="p-2" colspan="2">
                                    <input type="number" th:id="|pro${seller.seller_id}|" name="qty" min="1"
                                           th:max="${seller.quantity}"
                                           class="w-auto product__details__quantity" value="1">
                                </td>
                                <td>
                                    <Button type="button" class="btn primary-btn m-0 m-2 p-2"
                                            th:onclick="|add_to_cart( ${product.id}, ${seller.seller_id} , ${seller.quantity})|">
                                        Add to Cart
                                    </Button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="h3 text-center text-danger" th:if="${sellers.isEmpty()}">Out Of Stock</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>[[${product.description}]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!----------------------------------------------------- Content Ends ------------------------------------------------>

<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/footer :: footer"></th:block>
<!--suppress CheckTagEmptyBody -->
<th:block th:insert="fragments/footer :: scripts"></th:block>

<script>
    async function add_to_cart(productId, sellerId, qtymax) {
        qty = document.querySelector('#pro' + sellerId);
        let response;
        if (1 <= qty.value && qtymax >= qty.value) {
            response = await fetch('/cart/add', {
                method: 'POST',
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify({
                    'productId': productId,
                    'sellerId': sellerId,
                    'quantity': qty.value
                })
            })
            const res = await response.json();
            Promise.resolve(res).then(r => alert(res.message));


        } else
            alert('Invalid value for Quantity - ' + qty.value)
    }
</script>

</body>
</html>